<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @data_entry.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @data_entry.longitude %>
</p>

<p>
  <strong>Title:</strong>
  <%= @data_entry.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @data_entry.subtitle %>
</p>

<p>
  <strong>Username:</strong>
  <%= @data_entry.username %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @data_entry.notes %>
</p>

<%= link_to 'Edit', edit_data_entry_path(@data_entry) %> |
<%= link_to 'Back', data_entries_path %>
